.box {
  border: 10px solid black;
  width: 500px;
  margin: 10px;
}

.item-img {
  height: 300px;
}

.main {
  text-align: center;
  display: flex;
  justify-content: center;
}

.button {
  margin: 10px;
  width: 200px;
  height: 100px;
}

.Win {
  border: 10px solid green;
}

.Lose {
  border: 10px solid red;
}

.Tie {
  border: 10px solid black;
}
